
.task1{
    display: flex;
    gap: 80px;
    align-items: center;
}
.aaa{
    height: auto;
    width: 200px;
}
h1{
    font-family:Poppins;
}

.task2{
    display: flex;
    gap: 50px ;
    align-items: center;
    text-align: center;
}
.rect1{
    background-color: red;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: large;
}
.rect2{
    background-color: green;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: large;
    box-shadow: 5px 4px rgb(101, 91, 91);
}
.rect3{
    background-color: purple;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: large;
}
.rect4{
    background-color: yellow;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: large;
    border-radius: 5px;
    border-color: black;
    border:1px solid ;
}
.task3{
    position: relative;
}
.box{
    position:absolute;
}
.box1{
    background-color: brown;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}
.box2{
    background-color: rgb(42, 130, 165);
    width: 200px;
    height: 200px;
    top: 40px;
    left: 40px;
    z-index: 2;
}
.box3{
    background-color: rgb(87, 42, 165);
    width: 200px;
    height: 200px;
    top: 80px;
    left: 80px;
    z-index: 3;
}
.kkk{
    margin-top: 350px;
}
table{
    border-collapse: collapse;
    margin: 20px;
    font-size: large;
    min-width: 400px;
    background-color: rgb(135, 131, 131);
    border: 1px solid;
    box-shadow: 0 0 20px rgb(0, 0, .1);
}
thead tr {
    text-align: left;
}
th , td , tr {
    border: 1px solid;
}
.task5 div{
    width: 300px;
    text-align: center;
    font-size: x-large;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;

}
.one{
    background-color: rgb(136, 136, 136);
}
.two{
    background-color: rgb(209, 24, 24);
    height: 30px;
}
.task6{
    display: flex;

    align-items: center;

    margin: 50px auto;
    border-radius: 4px;
    overflow: hidden;
    height: 50px;
    position: relative;
    margin-left: 20px;
}

.num{
    width: 40px;
    height: 30px;
    color: white;
    background-color: red;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.text{
    background-color: #d1d1d1;
    font-size: large;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.6;
    margin-left: 20px;
    width: 600px;
    left: 10px;
    height: 50px;
    z-index: 1;
}
.comment-item {
    display: flex; 
    align-items: center; 
    width: 600px;
    margin: 20px auto;
    background-color: #e9e9e9; 
    border-radius: 5px; 
    position: relative; 
    padding: 10px 0; 
}
.comment-item::before {
    content: attr(data-person); 
    background-color: #d1d1d1; 
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 15px; 
    position: relative; 
}
